<div class="layout" *ngIf="!checkMobile()">
  <div class="title-block">
    <div class="mark"></div>
    <div class="title">{{ 'channel_guide' | translate }}</div>
    <div ngbDropdown [autoClose]="'outside'" #filtersDrop="ngbDropdown" placement="bottom" class="drop-down">
      <button class="btn btn-outline-primary" id="filters" ngbDropdownToggle>{{ currDay.name }}</button>
      <div ngbDropdownMenu aria-labelledby="filters">
        <button *ngFor="let filter of filters" ngbDropdownItem (click)="setTime(filter); filtersDrop.close()">
          {{ filter.name }}
        </button>
      </div>
    </div>
  </div>

  <div class="info-block" *ngIf="channels">
    <div class="logo-channel">
      <div class="logo" *ngFor="let program of channels; let i = index">
        <img *ngIf="program" [src]="program.logo[2].url" />
      </div>
    </div>
    <div class="button prev" (click)="scrollLeft()">&#8592;</div>
    <div class="button next" (click)="scrollRight()">&#8594;</div>
    <div class="program-block" #timeline>
      <div class="navigation-block" [style.width.px]="7520">
        <div class="timeline">
          <div id="{{ i }}" class="hours" *ngFor="let i of hours">
            <div class="height-line--block">
              <span class="height-line height-line--big"></span>
              <span class="height-line height-line--small"></span>
              <span class="height-line height-line--middle"></span>
              <span class="height-line height-line--small"></span>
              <span class="height-line height-line--hidden"></span>
            </div>
            <div class="height-line--time">{{ i }}:00</div>
          </div>
        </div>
      </div>
      <div class="info-block" [style.width.px]="7520" *ngFor="let program of arr; let i = index">
        <div [style.width.%]="calculateWidth(show.duration)" *ngFor="let show of program">
          <div
            class="program"
            data-title="{{ show.title }}, {{ UTCTime(show.start) }}, duration {{ show.duration }} minutes"
            *ngIf="show.title"
            [ngClass]="{ fix: isPrev(show) }"
          >
            <div class="name">
              {{ show.title }}
            </div>
            <div class="time">
              <div *ngIf="currentProgram(show)" class="time-end">{{ timeLeft(show) }} minutes left</div>
              <div class="time-start">
                {{ UTCTime(show.start) }}
              </div>
            </div>
          </div>

          <div class="program" *ngIf="!show.title" style="border: none; box-shadow: none;"></div>
        </div>
      </div>
      <div class="line-runner">
        <div class="line"></div>
        <div class="current-time">
          {{ currentTime() }}
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="checkMobile()">
  <div class="nav-button">
    <div class="button prev" (click)="currentChannelIndex === 0 ? $event.stopPropagation() : prevChannel()">
      &#8592;
    </div>
    <div class="title" *ngIf="currentChannel">{{ currentChannel.name }}</div>
    <div
      class="button next"
      (click)="currentChannelIndex === channels.length - 1 ? $event.stopPropagation() : nextChannel()"
    >
      &#8594;
    </div>
  </div>
  <app-programs></app-programs>
  <div class="link">
    <a class="detail-channel" (click)="goToChannel(currentChannel.id)">All day</a>
  </div>
</div>
