@import '../../styles/fonts.scss';
@import '../../styles/colors.scss';

:host {
  width: 100%;
  background-color: #e5e5e5;
}

.layout {
  background-color: #fafafa;
  margin: 0px 15px 0px 15px;
  box-shadow: 0px 1px 3px $shadow;
  height: fit-content;
  width: 98%;
  padding: 42px 15px 62px 0px;
  position: relative;
  overflow: hidden;
}

.mark {
  width: 10px;
  height: 39px;
  background-color: $active_text_menu;
}

.title {
  @include museoSlab_900(30px, $title, 36px);
  margin-left: 56px;
}

.title-block {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.drop-down {
  max-width: 246px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 31px;

  button {
    height: 50px;
    min-width: 268px;
    width: 100%;
    text-transform: none;
    border: none;
    outline: 0;
    @include museoSans_300_italic(14px, $button, 27px);
  }

  .dropdown-toggle {
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;

    &::after {
      display: inline-block;
      margin-left: 0.255em;
      vertical-align: 0.255em;
      position: absolute;
      top: 23px;
      right: 20px;
      content: '';
      border-top: 7px solid #aaaaaa;
      border-right: 7px solid transparent;
      border-bottom: 0;
      border-left: 7px solid transparent;
    }

    &:focus {
      border: 1px solid #e3e3e3;
      border-radius: 3px;
      background-color: #e3e3e3;
    }
  }
}

.navigation-block {
  display: flex;
  width: 100%;
  margin-bottom: 9px;
}

.button {
  width: 50px;
  height: 50px;
  background: #e3e3e3 0% 0% no-repeat padding-box;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.next {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.prev {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.timeline {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  @include museoSans_500(18px, black, 27px);
  height: 50px;
  width: 100%;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;

  &:before {
    background-color: #ffffff;
    border-bottom: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    content: '';
    height: 50px;
    left: 0;
    position: absolute;
    top: 0;
    width: 120px;
  }
}

.fix {
  background-color: #e3e3e3 !important;
}

.hours {
  width: 300px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.height-line {
  // background-color: #e3e3e3;
  border-right: 1px solid #e3e3e3;
  min-height: 16px;
  width: 1px;

  &--block {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    left: 0;
    position: absolute;
    width: 100%;
  }

  &--time {
    background-color: #ffffff;
    left: -40px;
    position: absolute;
    text-align: center;
    width: 80px;

    @media all and (-ms-high-contrast:none) {
      top: -13px;
    }
  }

  &--middle {
    height: 26px;
  }

  &--big {
    height: 49px;
  }

  &--hidden {
    opacity: 0;
  }
}

.info-block {
  width: 100%;
  display: flex;
  margin-bottom: 5px;
  position: relative;
}

.logo-channel {
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  width: 110px;
  z-index: 1;
  top: 59px;
}

.program-block {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  overflow-y: hidden;
  padding-left: 120px;
  position: relative;
  width: 100%;

  &::-webkit-scrollbar {
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #b8b8b8;
  }

  &::-webkit-scrollbar-thumb {
    background: #3e3d40;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgb(201, 151, 1);
  }
}

.logo {
  width: 100px;
  height: 100px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 2px #00000029;
  margin-bottom: 5px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 75%;
    height: auto;
  }
}

.program {
  height: 100px;
  background: #fafafa 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 2px #00000029;
  border: 1px solid #e5e5e5;
  margin-right: 5px;
  padding: 5px 5px 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre-wrap;
}

.program .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 3px;
  padding: 5px 0;
  box-shadow: 0px 1px 2px #00000029;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.program:hover .tooltiptext {
  visibility: visible;
}

.active {
  background: #e5e5e5 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 2px #00000029;
}

.name {
  @include museoSans_300(16px, #3e3d40, 21px);
  width: 100%;
  white-space: pre-line;
  text-overflow: ellipsis;
  overflow: hidden;
}

.time-end {
  @include museoSans_500(12px, #3e3d40, 21px);
  opacity: 0.5;
}

.time-start {
  @include museoSans_500(12px, #3e3d40, 21px);
  opacity: 0.5;
}

.time {
  margin-top: 11px;
}

.empty-program {
  border: none;
  box-shadow: none;
}

.line-runner {
  position: absolute;
  top: 0;
}

.line {
  border-left: 2px solid #FABB00;
  height: 100vh;
}

.current-time {
  height: 30px;
  @include museoSans_500(18px, black, 27px);
  width: 90px;
  text-align: center;
  position: absolute;
  background-color: #FABB00;
  top: 12px;
}

@media (max-width: 768px) {
  .next {
    top: 0;
  }

  .prev {
    top: 0;
  }

  .line {
    top: 134px;
  }
}

@media (max-width: 767px) {
  :host {
    .layout-mobile {
      width: calc(100% - 36px);
      margin: 0 18px 40px;
      padding: 38px 18px 18px;

      background-color: #fff;
      box-shadow: 0px 1px 3px $shadow;
      display: flex;
      flex-direction: row;
    }

    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .active {
      height: 4px;
      background-color: #fabb00;
    }

    ul {
      width: 100%;
      position: relative;
    }

    li {
      min-width: 100%;
      cursor: pointer;
      list-style: none;
      height: 59px;
      width: 100%;
      border-bottom: 1px solid #e3e3e3;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 18px;

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        background-color: #f7f7f7;
      }
    }

    .title {
      font-size: 16px;
      line-height: 22px;
      margin-left: 0;
    }

    .drop-down {
      max-width: 100%;
    }

    .status {
      margin-left: 0;
      height: 4px;
      width: 100%;
      background-color: #f2f2f2;
    }
  }

  .prev {
    left: 0;
    top: 0;
    position: initial;
    margin-left: 5px;
  }

  .next {
    left: 0;
    top: 0;
    position: initial;
    margin-right: 5px;
  }

  .nav-button {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    align-items: center;
  }

  .button {
    background-color: $active_text_menu;
    box-shadow: 0px 1px 2px #00000029;
  }

  .link {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .detail-channel {
    @include museoSlab_500_italic(14px, $active_text_menu, 21px);
    color: $active_text_menu !important;
    cursor: pointer;
    display: flex;
    margin-right: 0;
    font-style: normal;
  }
}
