<div class="layout">
  <div class="channel">
    <tag-input
      [(ngModel)]="selectedChannels"
      [maxItems]="6"
      [onlyFromAutocomplete]="true"
      [identifyBy]="'display'"
      [displayBy]="'value'"
      [onTextChangeDebounce]="1000"
      [theme]="'foundation-theme'"
      (onAdd)="emitChannels()"
      (onRemove)="emitChannels()"
    >
      <tag-input-dropdown
        [showDropdownIfEmpty]="false"
        [identifyBy]="'display'"
        [displayBy]="'value'"
        [autocompleteItems]="channelsList"
        [zIndex]="10000"
        (onAdd)="emitChannels()"
        (onRemove)="emitChannels()"
      >
        <ng-template let-item="item" let-index="index"> {{ item.value }} </ng-template>
      </tag-input-dropdown>
    </tag-input>
  </div>

  <!-- <div class="wrapper">
    <div class="searchString">
      <input placeholder="TV Show Search" [(ngModel)]="searchString" />
      <button><i class="fa fa-search" (click)="filter()" aria-hidden="true"></i></button>
    </div>
  </div> -->
</div>
