@import '../../styles/fonts.scss';
@import '../../styles/colors.scss';

:host {
  background-color: #e5e5e5;
  display: flex;
  width: 100%;

  .layout {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #3e3d40;
    margin: 48px 40px 58px 40px;
    padding: 40px 20px 40px 20px;
  }

  .channel {
    display: flex;
    height: 50px;
    // width: 70%;
    width: 100%;
    @include museoSans_300(14px, #383838, 27px);
  }

  tag-input {
    height: 50px;
    width: 100%;
    @include museoSans_300(14px, #383838, 27px);
  }

  tag {
    border: 2px solid #ffffff;
    border-radius: 3px;
    background: #fabb00;
  }

  .tag-wrapper {
    background: #fabb00;
  }

  .bootstrap3-info {
    background: #fabb00;
  }

  .wrapper {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 3px;

    .searchString {
      display: flex;
      width: 100%;
      margin-left: 27px;

      input {
        @include museoSans_300_italic(14px, #383838, 27px);
        width: 100%;
        height: 50px;
        border-radius: 3px;
        border: none;
        overflow: hidden;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        &::placeholder {
          @include museoSans_300_italic(14px, #383838, 50px);
          text-align: center;
          opacity: 1;
        }
      }

      button {
        border: none;
        background-color: #aaaaaa;
        height: 50px;
        margin-left: -3px;
        width: 80px;
        min-width: 80px;
        border-radius: 3px;

        i {
          color: #fff;
          font-size: 17px;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .layout {
    display: flex;
    flex-direction: column;
    tag-input {
      width: 100%;
      height: fit-content;
    }

    .channel {
      width: 100%;
      height: fit-content;
    }

    .wrapper {
      margin-left: 0;
      max-width: 100%;
      width: 100%;
      .searchString {
        margin-left: 0;
        margin-top: 10px;
        input {
          max-width: 100%;
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  :host {
    .layout {
      margin: 30px 9px 30px 9px;
      padding: 30px 22px 30px 22px;
      display: flex;
      flex-direction: column;
      .channel {
        height: auto;
      }
      tag-input {
        height: auto;
      }
    }

    .wrapper {
      margin-top: 30px;
    }
  }
}
