@import '../../../../node_modules/ngx-chips/core/styles/core/core';
@import '../../styles/fonts.scss';
@import '../../styles/colors.scss';

$foundation-primary: #1779ba;
$foundation-primary-dark: darken($foundation-primary, 10%);

$foundation-theme: (
  container-padding: 4px,
  container-margin: $container-margin,
  container-border-bottom-invalid: 1px solid map-get($color-error, 'bootstrap3-info'),
  input-border: 1px solid #ccc,
  input-padding: $input-padding,
  input-font-size: 95%,
  font-family: inherit,
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
  border-radius: 4px,
  background-color: #fff,
  display: inline-block,
  color: #555,
  vertical-align: middle,
  max-width: 100%,
  height: 50px,
  line-height: 44px
);

$foundation-tag-theme: (
  background: #fabb00,
  font-size: 95%,
  color: #fff,
  color-hover: #fff,
  font-weight: 400,
  border-radius: 0.25em,
  font-family: inherit,
  background-focused: map-get($color-focused, 'bootstrap3-info'),
  background-active: map-get($color-focused, 'bootstrap3-info'),
  background-hover: darken(map-get($color-primary, 'bootstrap3-info'), 5%)
);

$foundation-icon-theme: (
  fill: map-get($color-arrow, 'bootstrap3-info'),
  fill-focus: map-get($color-arrow, 'bootstrap3-info')
);

.ng2-tag-input.foundation-theme {
  background-color: #fff;
  display: inline-block;
  color: #555;
  vertical-align: middle;
  max-width: 100%;
  height: 50px;
  line-height: 44px;
  border: 2px solid #efefef;
}

tag-input .ng2-tag-input.foundation-theme input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0 6px;
  margin: 0;
  width: auto;
  max-width: inherit;
}

tag-input .ng2-tag-input.foundation-theme .form-control input::-moz-placeholder {
  color: #777;
  opacity: 1;
}

tag-input .ng2-tag-input.foundation-theme .form-control input:-ms-input-placeholder {
  color: #777;
}

tag-input .ng2-tag-input.foundation-theme .form-control input::-webkit-input-placeholder {
  color: #777;
}

tag-input .ng2-tag-input.foundation-theme input:focus {
  border: none;
  box-shadow: none;
}

tag-input .foundation-theme.ng2-tag-input.ng2-tag-input--focused {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.4);
  border: 1px solid #ccc;
}

tag-input .foundation-theme.ng2-tag-input.ng2-tag-input--invalid {
  box-shadow: inset 0 1px 1px map-get($color-error, 'bootstrap');
}

::ng-deep tag-input .ng2-tag-input.foundation-theme {
  @include tag-input-theme($foundation-theme);
  background-color: #fff;
  vertical-align: middle;
  max-width: 100%;
  // height: 50px;
  line-height: 44px;
  border-radius: 3px;
  padding: 0;
  box-shadow: none;
  input {
    font-family: 'Museo Sans 300 Italic';
    font-style: italic;
    color: #aaaaaa;
    opacity: 1;
    font-size: 14px;
    margin-left: 20px;
  }
}

::ng-deep tag-input .ng2-tag-input.foundation-theme tag {
  @include tag-theme($foundation-tag-theme);
  background: #fabb00 0% 0% no-repeat padding-box;
  border: 2px solid #ffffff;
  border-radius: 3px;
  height: 48px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #383838;
  font-family: 'Museo Sans 300', sans-serif;
}

::ng-deep tag-input .ng2-tag-input.foundation-theme tag delete-icon {
  @include icon-theme($foundation-icon-theme);
}
