@import 'common-styles.scss';
@import 'colors.scss';
@import 'fonts.scss';

:host {
    .ui-calendar.ui-calendar-w-btn .ui-inputtext {
            border: none !important;
            text-decoration: underline !important;
    }
    .main-container {
      height: auto;
      width: 100%;
      @include flex-row;
      padding: 30px;
  
      .chart-view-data {
        overflow: hidden;
        position: relative;
        width: 75%;
        border-right: none;
        .base-title {
          @include qanelas-regular(24px, $gray_dark, 29px);
          margin-left: 40px;
        }
        .type {
          @include qanelas-regular(16px, $gray_dark, 19px);
          margin-left: 30px;
          opacity: 0.5;
          cursor: pointer;
          &.active {
            opacity: 1;
            border-bottom: 1px solid black;
          }
        }
        .header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
        }
        canvas {
          @include qanelas-regular(10px, $gray_dark, 11px);
        }
      }
      .stat-view {
        width: 25%;
        padding-left: 20px;
        margin-left: 10px;
        border-left: 1px solid $gray_border;
        .description {
            @include qanelas-regular(16px, $gray_dark, 19px);
            opacity: 0.5;
            margin-bottom: 12px;
        }
        select {
            width: 55%;
            @include qanelas-regular(16px, $gray_dark, 19px);
            border: none;
            text-decoration: underline;
            margin-bottom: 20px;
        }
        .value {
            @include qanelas-regular(16px, $gray_dark, 19px);
            opacity: 1;
        }
        .interval {
            margin-top: 20px;
            display: flex;
        }
        mat-slider {
            width: 100%;
        }
        ::ng-deep .mat-slider-thumb {
            background-color:#3997D3;
        }
        ::ng-deep .mat-slider-track-fill {
            background-color:#3997D3;
        }
        p-calendar {
            margin-bottom: 40px !important;
        }
        .stat-block {
            margin-top: 35px;
            .item {
                .base-info {
                  @include flex-row;
                  justify-content: space-between;
                  width: 100%;
                  margin-bottom: 13px;
                  .title {
                    width: 73%;
                    @include qanelas-regular(16px, $gray_dark, 18px);
                  }
                  .value {
                    @include qanelas-bold(16px, $gray_dark, 18px);
                  }
                }
                .additional-info {
                  @include qanelas-regular(14px, $gray_dark, 16px);
                  opacity: 0.5;
                }
                margin-bottom: 21px;
            }
        }
      }
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    :host {
      .main-container .stat-view select {
        width: 78%;
      }
    }
  }