<div class="main-container">
    <div class="chart-view-data">
        <div class="header">
            <span class="base-title">Office Metrics Overview</span>
            <div >
                <span class="type" [ngClass]="{ active: !isFootfall }" (click)="showFootfall(false)">Net Occupancy</span>
                <span class="type" [ngClass]="{ active: isFootfall }" (click)="showFootfall(true)">Footfall</span>
            </div>
        </div>
        <div style="display: block">
            <canvas baseChart 
                [datasets]="barChartData" 
                [labels]="barChartLabels" 
                [options]="barChartOptions"
                [legend]="barChartLegend" 
                [chartType]="barChartType" >
            </canvas>
        </div>
    </div>
    <div class="stat-view">
        <div class="description">Period</div>
        <select id="period" (change)="selectOption($event.target.value)">
            <option [value]="'Yesterday'">Yesterday</option>
            <option [value]="'Last 24 hours'">Last 24 hours</option>
            <option [value]="'Last 12 hours'">Last 12 hours</option>
            <option [value]="'Last 6 hours'">Last 6 hours</option>
            <option [value]="'Last 3 hours'">Last 3 hours</option>
            <option [value]="'Last hour'">Last hour</option>
            <option [value]="'Custom'">Custom</option>
        </select>
        <p-calendar 
            *ngIf="currentPeriod === 'Custom'"
            [(ngModel)]="rangeDates"
            dateFormat="yy-mm-dd"
            [showIcon]="true"
            selectionMode="range"
            [maxDate]="currentDay"
            [readonlyInput]="true"
            placeholder="Choose an interval"
            (onSelect)="selectDate()"
            [style]="{'width':'97%', 'display':'flex'}" 
            [inputStyle]="{'width':'97%', 'display':'flex'}"
        ></p-calendar>
        <div class="interval">
            <div class="description">Interval:</div>
            <span class="value">&nbsp;{{value}}&nbsp;minutes</span>
        </div>
        <mat-slider
            #slider
            [min] = "currentState.min"
            [max] = "currentState.max"
            [step] = "currentState.step"
            [(ngModel)]="value"
            (change)="updateSetting($event)"
        ></mat-slider>
        <div *ngIf="currentType === 'net_occupancy' && !isEmpty(responce)" class="stat-block">
            <div class="item">
                <div class="base-info">
                  <span class="title">Maximum</span>
                  <span class="value">{{ responce.stats.maxOccupancy | absolute }}</span>
                </div>
                <!-- <div class="additional-info">
                    Last updated:
                    <br>
                    {{ responce.stats.current.date | date: 'medium':'UTC' }}
                </div> -->
            </div>
            <div class="item">
                <div class="base-info">
                  <span class="title">Peak for this interval</span>
                  <span class="value">{{ responce.stats.currentOccupancy | absolute }}</span>
                </div>
                <!-- <div class="additional-info">
                    Occurred on:
                    <br>
                    {{ responce.stats.peek.date | date: 'medium':'UTC' }}
                </div> -->
            </div>
            <div class="item">
                <div class="base-info">
                  <span class="title">Average</span>
                  <span class="value">{{ responce.stats.avgOccupancy.toFixed(2) | absolute }}</span>
                </div>
            </div>
        </div>
        <div *ngIf="currentType === 'footfall' && !isEmpty(responce)" class="stat-block">
            <div class="item">
                <div class="base-info">
                    <span class="title">Total entered in the interval</span>
                    <span class="value">{{ responce.stats[0].totalEntered | absolute }}</span>
                </div>
                <div class="base-info">
                    <span class="title">Max entered at {{ responce.stats[0].maxEntered.start | date: 'shortTime' : 'UTC' }}</span>
                    <span class="value">{{ responce.stats[0].maxEntered.value | absolute }}</span>
                </div>
            </div>
            <div class="item">
                <div class="base-info">
                    <span class="title">Total exited in the interval</span>
                    <span class="value">{{ responce.stats[0].totalExited | absolute }}</span>
                </div>
                <div class="base-info">
                    <span class="title">Max exited at {{ responce.stats[0].maxExited.start | date: 'shortTime' : 'UTC' }}</span>
                    <span class="value">{{ responce.stats[0].maxExited.value | absolute }}</span>
                </div>
            </div>
        </div>
    </div>
  </div>
