@import 'common-styles.scss';
@import 'colors.scss';
@import 'fonts.scss';

:host {
  width: 100%;
  @include flex-col;
  background: $white_E6;
  padding-bottom: 50px;
  .title {
    @include qanelas-light(40px, $gray_dark, 48px);
    display: flex;
    width: calc(100%);
    height: 100px;
    align-items: center;
    padding-left: 40px;
    margin-top: 10px;
  }
  .cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  app-card{
    width: 31%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  :host {
    app-card {
      width: 48%;
      margin-bottom: 30px;
    }
  }
}