<span class="title">Indoor environmental quality KPIs</span>
<div class="cards" *ngIf="uhoo_analytics.length">
  <app-card *ngFor="let card of uhoo_analytics" [card]="card"></app-card>
</div>
<app-no-data [last_date]="last_date" *ngIf="!loader && !uhoo_analytics.length"></app-no-data>
<app-small-loader *ngIf="loader"></app-small-loader>
