<div class="container">
    <div class="navbar">
        <div class="back-icon" (click)="back()">
          <img src="assets/icons/menu-arrow-icon.svg">
        </div>
        <p>{{title}}</p>
    </div>
    <div class="screen">
        <div class="info">
            <h2 class="title">{{lang.title}}</h2>
            <div class="description">{{lang.description}}</div>
            <div class="line"></div>
            <div class="button-block">
                <div class="annual-block">
                    <div class="annual-button active" (click)="changePeriod($event)">{{lang.annual_button}}</div>
                    <div class="annual-desc">
                        <p>{{lang.annual}}</p>
                    </div>
                </div>
                <div class="monthly-block">
                    <div (click)="changePeriod($event)" class="monthly-button">{{lang.monthly_button}}</div>
                </div>
            </div>
            <div class="desc-block">
                <div *ngIf="!toggleBilling" class="billing-block">
                    <div class="period-billing">
                        <div class="period-text">
                            {{lang.ann_billing}}
                        </div>
                        <div class="period-desc">
                            <p>{{lang.recurring}}</p>
                            <p class='last-desc'>{{lang.cancel}}</p>
                        </div>
                    </div>
                    <div *ngIf="!isEnLang" class="price">
                        {{subscribe_info.annual_c_sw}} {{lang.currency_year}}
                    </div>
                    <div *ngIf="isEnLang" class="price">
                        {{subscribe_info.annual_c_en}} {{lang.currency_year}}
                    </div>
                </div>
                <div *ngIf="toggleBilling" class="billing-block-monthly">
                        <div class="period-billing">
                            <div class="period-text">
                                {{lang.month_billing}}
                            </div>
                            <div class="period-desc">
                                <p>{{lang.recurring}}</p>
                                <p class='last-desc'>{{lang.cancel}}</p>
                            </div>
                        </div>
                        <div *ngIf="!isEnLang" class="price">
                            {{subscribe_info.mounth_c_sw}} {{lang.currency_month}}
                        </div>
                        <div *ngIf="isEnLang" class="price">
                            {{subscribe_info.mounth_c_en}} {{lang.currency_month}}
                        </div>
                </div>
            </div>
            <div class="btn" (click)="subscribePrograms()">{{lang.purchase}}</div>
            <div class="sub-description">{{lang.sub_description}}</div>
            <div class="sub-description-bottom">{{lang.bottom_description}}</div>
        </div>
        
    </div>
</div>