$width: calc(100vw);
$heightNavbar: calc((100vw) * 0.1375);

@function getCalcWidth($value) {
  @return (100vw) * ($value / 640);	
}

@function getWidth($value) {
  @return ((100vw) / 100) * $value;	
}
$px34: getCalcWidth(34);
$px21: getCalcWidth(21);
$px1: getCalcWidth(1);
html, body {
  background-color: transparent;
}

.container {
  width: getWidth(100);
  background: #404057;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  color: #fff;
  height: 100%;
  position: relative;
}

.screen {
	background: #404057;
  overflow-y: auto;
  color: #fff;
  height: calc(100% - ((100vw) * (88 / 640)));
	position: relative;
  width: getWidth(100);
  -webkit-overflow-scrolling: touch; 
}

.description {
  opacity: 0.85;
  color: #FFFFFF;		
  font-size: getCalcWidth(26);
  font-weight: 500;	
  line-height: getCalcWidth(34);
  padding-bottom: 0;
}

.navbar {
  padding: 0 getCalcWidth(20);
  width: $width;
  min-height: $heightNavbar;
  box-sizing: border-box;
  display: flex;
  z-index: 1;
  align-items: center;
  justify-content: space-between;
  background: #1E1E3A;
  position: relative;
  
  p {
    color: #fff;
    font-family: "Helvetica Neue Light";
    font-weight: 300;
    letter-spacing: getWidth(0.24);
    font-size: getWidth(5.3);
    margin-right: 25%;
  }
}

.back-icon {
  justify-content: center;
  align-items: center;
  display: flex;
  img {
    transform: scale(-1, 1);
    width: getCalcWidth(37);
  }
}

.title {
  font-size: getWidth(5.5);
  line-height: getWidth(6.5);
  padding: 0 0 getWidth(3) 0;
}

.info {
  padding: getWidth(4);
  font-weight: lighter;
  letter-spacing: 1px;
}

.line {
  background: rgba(255, 255, 255, 0.2);
  height: 1px;
  margin: 10vw 0;
}

.button-block {
  height: 52px;
  //height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.billing-block {
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
}

.period-desc{
  margin-top: 10%;
  opacity: 0.5;
  p {
    margin: 0px;
  }
}

.btn {
	box-sizing: border-box;
	color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
  letter-spacing: $px1;
	height: getCalcWidth(70);
	width: 100%;
	border-radius: getCalcWidth(5);
	margin: 10% 0;	
	font-size: $px34;	
	font-weight: 300;	
	line-height: $px34;
  margin-bottom: getCalcWidth(51);	
  background-color: #5BBF21;
}

.annual-button {
  justify-content: center;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-radius: 5%;
  border-color: white;
  border: 1px solid;
  width: 100%;
  //height: 60%;
  height: 32px;
}

.monthly-block {
  width: 48%;
}

.annual-block {
  width: 48%;
}

.monthly-button {
  justify-content: center;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-radius: 5%;
  border-color: white;
  border: 1px solid;
  width: 100%;
  //height: 60%;
  height: 32px;
}

.annual-desc {
  p {
    opacity: 0.5;
    text-align: center;
    margin-top: 5%;
    font-size: 3.5vw;
  }
}

.period-text {
  font-weight: 600;
}

.price {
  font-weight: 600;
}

.sub-description {
  opacity: 0.5;
  color: #FFFFFF;		
  font-size: getCalcWidth(26);
  font-weight: 500;	
  line-height: getCalcWidth(34);
  padding-bottom: 0;
}

.active {
  justify-content: center;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background-color: #CF6197;
  border-radius: getCalcWidth(5);
  width: 100%;
  //height: 60%;
  height: 32px;
  border-color: #CF6197;
}

.billing-block-monthly {
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
}

.sub-description-bottom{
  margin-top: 5%;
  opacity: 0.5;
  font-weight: 600;
  color: #FFFFFF;		
  font-size: getCalcWidth(26);
  line-height: getCalcWidth(34);
  padding-bottom: 0;
}

.period-desc {
  .last-desc {
    margin-top: 3%;
  }
}

.period-billing-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}